


<!DOCTYPE html>
<html>
<head>
  <title>Page Horaires</title>
</head>
<header> <a href="/login">Se déconnecter</a>
</header>
<body>
  <h1>Bienvenue <%= user.login %> !</h1>
  <p>Tu es connecté, la page des horaires sera ici.</p>
</body>
</html>
