<!DOCTYPE html>
<html>
<head>
  <title>Récupération mot de passe</title>
  <link rel="stylesheet" href="/recuperation.css">
</head>
<body>

  <% if (login) { %>
  <p class="success">Identifiant associé : <%= login %></p>
<% } %>

  <div class="container">
    <h2>Récupération du mot de passe</h2>

    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>

    <form action="/recuperation" method="POST">
      <input type="text" name="telephone" placeholder="Numéro de téléphone" required>
      <button type="submit">Rechercher</button>
    </form> 
     <a href="/login">retour ?</a>
  </div>
</body>
</html>
